{
  "app_name": "pysonic",
  "app_api_host": "127.0.0.1",
  "app_api_port": 7005,
  "console_log": true,
  "app_unicast_host": "127.0.0.1",
  "app_unicast_port": 1234,
  "app_unicast_protocol": "udp",
  "app_unicast_buffer_size": 1024,
  "first_noise_answer_threshold": 250,
  "save_png_match_detection": true,
  "template_folder_path": "/opt/pysonic_nemo/template"
}